<body>

<h1><b>INVENTORY ITEM DATA</b></h1>
<div class="row">
  <div class="column">
    
    <form  [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Item name: </mat-label>
          <input
            matInput
            placeholder="Name"
            type="text"
            formControlName="name"
          />
          <mat-error *ngIf="hasError('name', 'required')"
            >The name is required</mat-error
          >
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Select your user</mat-label>
          <mat-select [(value)]="selectedUser" (selectionChange)="changeUser()" formControlName="user">
            <mat-option *ngFor="let user of users" [value]="user.firstName + ' ' +  user.lastName">{{user.firstName}} {{user.lastName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('user', 'required')"
            >The user is required</mat-error
          >
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Select your category</mat-label>
          <mat-select [(value)]="selectedCategory" (selectionChange)="changeCategory()" formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category.name">{{category.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('category', 'required')"
            >The category field is required</mat-error
          >
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Select your location</mat-label>
          <mat-select  [(value)]="selectedLocation" (selectionChange)="changeLocation()" formControlName="location">
            <mat-option *ngFor="let location of locations" [value]="location.locationName">{{location.locationName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('location', 'required')"
            >The location is required</mat-error
          >
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Inventory number: </mat-label>
          <input
            matInput
            placeholder="Inventory number"
            type="text"
            formControlName="inventoryNumber"
          />
          <mat-error *ngIf="hasError('inventoryNumber', 'required')"
            >The inventory number is required</mat-error
          >
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Created at: </mat-label>
          <input
            matInput
            placeholder="Added date"
            type="date"
            formControlName="addedDate"
          />
          <mat-error *ngIf="hasError('addedDate', 'required')"
            >The Created At field is required</mat-error
          >
        </mat-form-field>
      </p>
      <p *ngIf="!editForm">
        <mat-form-field appearance="outline">
          <mat-label>Select if is deleted:</mat-label>
          <mat-select  [(value)]="item.isDeleted" (selectionChange)="item.isDeleted" formControlName="isDeleted">
            <mat-option [value]="item.isDeleted">{{item.isDeleted}}</mat-option>
            <mat-option [value]="!item.isDeleted">{{!item.isDeleted}}</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('location', 'required')">
          </mat-error
          >
        </mat-form-field>
      </p>
      <button mat-raised-button type="submit" [disabled]="!addItemForm.valid">
        SUBMIT
      </button>
    </form>
  </div>
  <div class="column" *ngIf="!editForm">
    <div *ngIf="itemId"  class="centered" >
      <p class = "qr"><b>QR Code for this item inventory:</b></p>
      <qr-code [value]="itemId.toString()" [size]="250" ></qr-code>
    </div>
  </div>
</div>
</body>