a {  
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    margin: 0px 0px 0px 400px;
}

.nav_links {
   display: inline-block;
   padding: 0px 20px;
}

.nav_links a {
    transition: all 0.3s ease 0s;
} 

nav{   
    background-color: rgb(106, 109, 185);
}
.menu{
    background-color: rgb(106, 109, 185);
}
a:link, a:visited {
    background-color: rgb(106, 109, 185);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding:10px 25px;
    font-weight: 100;
    /* font-size: 25px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover, a:active{
    background-color:rgb(85, 88, 172);
        
}

a {
    transition: all 0.3s ease 0s;
} 
