
<div class="container">
    <div class="description">
        <h1><b>WELCOME!</b></h1>
        <p class= "paragraph">
            This logistic app is a comprehensive and unified logistics delivery solution
             that helps you manage all your logistics operations, 
             including goods, warehouses, users, and more.
        </p>
        <!-- <div class="col">
            <img src="./../../assets/images/img.jpeg" alt="" class="container-img"/>
        </div> -->
    </div>
 </div>
        <section>
            <a routerLink="/add-item"><div id = "first" class="cards">
                <h3>Add a new product</h3>
                <p class="cards-text">Press this button to add a new product. </p>
            </div></a>
            <a routerLink="/inventory"><div id = "second" class="cards">
                <h3>See the product list</h3>
                <p class="cards-text">Press this button to see our inventory.</p>    
            </div></a>
            <a routerLink="/contact"><div id = "third" class="cards">
                <h3>Contact</h3>
                <p class="cards-text">See our contact information! </p>
            </div></a>
          </section>

        