/* .container{
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .body{
  background-image:url('./../../assets/images/bg.jpg');
} */
 
 .image {
     background-image: url('./../../assets/images/bg.jpg');
     background-size:cover; /* contain - Resize the background image to make sure the image is fully visible */
                             /* cover - il pune pe toata pagina web*/    
    
 }

 .image-text {
     text-align: center,justify;
     color: white;
 }
 