body{
    width: 100%;
    
}
div.maps{
    align-content: center;
    display: flex;
    padding-left: 20px;
    
   
}
div.info{
  
    text-align: left;
    text-decoration: none;
    display: inline-block;
    padding:20px 25px;
    font-size: 20px;
}

b{
    width: 600px;
    height:450px;
    
    padding-bottom: 15px;
}

iframe{
    display: flex;
    width: 98%;
    height:450px;
    border:0;
     
}