<div>
    <nav>
        <a routerLink="/inventory">Inventory</a>
        <a routerLink="/scan">Scan</a>
        <a routerLink="/add-item">Add Item</a>
        <a routerLink="/administration">Administration</a>
        <a routerLink="/edit">Edit</a>
        <a routerLink="/contact">Contact</a>
    </nav>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2788.188108034989!2d25.615302200000002!3d45.6671239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b35b8b524bcac9%3A0xb350aa0bf5ec0c51!2sWATERS%20ROM%C3%82NIA%20S.R.L.!5e0!3m2!1sro!2sro!4v1663585370564!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>