
<div class="info">
    <b>Deposit information: </b><i>{{contactData.info}}</i><br>
    <b>Address: </b><i>{{contactData.address}}</i><br>
    <b>Open days: </b><i>{{contactData.openDays}}</i><br>
    <b>Time slot: </b><i>{{contactData.timeSlot}}</i><br>
    <b>Phone number: </b><i>{{contactData.phone}}</i><br>
</div>

<div class="maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2788.188108034989!2d25.615302200000002!3d45.6671239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b35b8b524bcac9%3A0xb350aa0bf5ec0c51!2sWATERS%20ROM%C3%82NIA%20S.R.L.!5e0!3m2!1sro!2sro!4v1663585370564!5m2!1sro!2sro" ></iframe>
</div>

