
table{
    width: 100%;
    background-color: azure;
}
th {
    color:black;
  }
  

button {
    background-color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding:10px 25px;
    font-size: 150%;
    display: flex;
    position:absolute; 
    width: 10.5%;
    left: 41.75%; 
    bottom: auto;
}

button:hover, button:active{
    background-color: rgb(185, 238, 240);
}