/* You can add global styles to this file, and also import other style files */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:500'); */
/* html, body { height: 100%; } */
html{
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    color:rgb(61, 64, 148);
}

body {
    width: 100%;
    min-height: 100vh;    
      margin: 0px;
    
     }

a:link, a:visited {
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding:10px 25px;
}

