<h1><b>INVENTORY ITEM DATA</b></h1>
<body>
<div *ngIf="itemIsFound">
    <div>
        <p><b>ID: </b><i>{{item._id}}</i></p>
        <p><b>NAME: </b><i>{{item.name}}</i></p>
        <p><b>USER: </b><i>{{item.user}}</i></p>
        <p><b>LOCATION: </b><i>{{item.location}}</i></p>
        <p><b>INVENTORY NUMBER: </b><i>{{item.inventoryNumber}}</i></p>
        <p><b>CREATED AT: </b><i>{{item.addedDate}}</i></p>
        <p><b>MODIFIED AT: </b><i>{{item.modifiedDate}}</i></p>
        <p><b>IS DELETED: </b><i>{{item.isDeleted}}</i></p>
        <p class="butt">
            <button mat-raised-button (click)="editItem()">EDIT ITEM</button>
        </p>
    </div>
</div>
<div *ngIf="!itemIsFound">
    This item was not found!
</div>
</body>