table{
    width: 100%;
    background-color: rgb(228, 228, 234);
}
th {
    color:black;
    border-color: rgb(106, 109, 185);

  }

  tr {
    color: coral;

  }
button {
    background-color: rgb(106, 109, 185);
    text-align: center;
    text-decoration: none;
    display: inside;
    padding:10px 25px;
    border-color: rgb(36, 39, 139);
    font-size: 150%;
    color: white;
    position:absolute; 
    width: 20%;
    left: 40%; 
    bottom: auto;

}

button:hover, button:active{
    background-color: cadetblue;
}

.but {
    color:  rgb(106, 109, 185);
    border: 20%;
    border-color: rgb(106, 109, 185);
    background-color: rgb(243, 243, 243);
}
a, a:link, a:visited{
    background-color: rgb(228, 228, 234);
}

