
table{
    width: 100%;
    background-color: rgb(228, 228, 234);
}
th {
    color:black;
    border-color: rgb(106, 109, 185);
  }

  tr {
    color: coral;

  }

.but {
    color:  rgb(106, 109, 185);
    border: 20%;
    border-color: rgb(106, 109, 185);
    background-color: rgb(243, 243, 243);
}
a, a:link, a:visited{
    background-color: rgb(228, 228, 234);
}

